
body {
  color: $text-color;
  background-color: $background-color;
  font-family: $font-family;
  line-height: $line-height;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  margin-top: 1em;
  margin-bottom: .5em;
  font-weight: bold;
  text-transform: lowercase;
  letter-spacing: -1px;
}

a {
  color: $secondary-color;
}

a:hover {
  color: $text-color;
}

footer {
  margin-top: 50px;
  text-align: center;
  font-size: 85%;
}

.wrapper {
  max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
  max-width:         calc(800px - (#{$horizontal-spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $horizontal-spacing-unit;
  padding-left: $horizontal-spacing-unit;
  display: block;
}

.logo {
  background-color: $background-color;
  color: $secondary-color;
  overflow: hidden;
  width: 50%;
  margin: auto;
  text-align: center;
  font-family: $heading-font-family;
  display: block;
  a {
    text-decoration: none;
    color: $text-color;
  }
}

.creative-commons {
  text-decoration: none;
  color: $text-color;
}
