body {
  font-family: $font-family;
  line-height: $line-height;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  margin-top: 1em;
  margin-bottom: .5em;
  font-weight: $heading-font-weight;
  letter-spacing: -1px;
  line-height: $heading-line-height;
}

.wrapper {
  max-width: -webkit-calc(600px - (#{$horizontal-spacing-unit} * 1));
  max-width:         calc(600px - (#{$horizontal-spacing-unit} * 1));
  margin-right: auto;
  margin-left: auto;
  padding-right: $horizontal-spacing-unit;
  padding-left: $horizontal-spacing-unit;
  padding-top: $vertical-spacing-unit*1.5;
  display: block;
  border-radius: $vertical-spacing-unit/4;
}

.separator {
    padding-top: $vertical-spacing-unit/2;
    margin-left: -$horizontal-spacing-unit/2;
    margin-right: -$horizontal-spacing-unit/2;
    border-radius: $vertical-spacing-unit/4;
}