@media screen and (max-width: 480px) {
  .wrapper {
      padding-right: $phone-horizontal-spacing-unit;
      padding-left: $phone-horizontal-spacing-unit;
      width: 90%;
  }
  .separator {
    margin-left: -$phone-horizontal-spacing-unit*1.5;
    margin-right: -$phone-horizontal-spacing-unit*1.5;
    padding-left: -$phone-horizontal-spacing-unit;
    padding-right: -$phone-horizontal-spacing-unit;
  }
  .top {
  }
}

@media screen and (max-width: 768px) {
  body {
      font-size: 1.1em;
  }
  .logo {
      font-size: 1.5em;
  }
}