@media screen and (max-width: 480px) {
  .wrapper {
      padding-right: $phone-horizontal-spacing-unit/2;
      padding-left: $phone-horizontal-spacing-unit/2;
      width: 100%;
  }
  .separator {
    margin-left: -$phone-horizontal-spacing-unit;
    margin-right: -$phone-horizontal-spacing-unit;
    border-radius: 0;
  }
  .top {
    margin-left: -$phone-horizontal-spacing-unit;
    margin-right: -$phone-horizontal-spacing-unit;
    max-width: 480px;
    margin-top: -$vertical-spacing-unit*2;
    border-radius: 0;
    width: 100%;
    display: block;
  }
}