@media only screen and (max-device-width: 480px) {
  .wrapper {
      padding-right: $phone-horizontal-spacing-unit/2;
      padding-left: $phone-horizontal-spacing-unit/2;
      width: 100%;
  }
  .separator {
    margin-left: $phone-horizontal-spacing-unit/2;
    margin-right: $phone-horizontal-spacing-unit/2;
    border-radius: 0;
  }
}