.logo {
  overflow: hidden;
  width: 50%;
  margin: auto;
  text-align: center;
  font-family: $heading-font-family;
  display: block;
  a { text-decoration: none; }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: .5em;
    margin-bottom: .5em;
  }
}

.topnav {
  overflow: hidden;
  width: 50%;
  margin: auto;
  text-align: center;
  font-family: $heading-font-family;
  /* Add a color to the active/current link */
  .active { font-weight: bold; }
}

/* Style the links inside the navigation bar */
.topnav a {
  text-align: center;
  padding: 4px 6px;
  font-size: 17px;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover { font-weight: normal; }