.logo {
  overflow: hidden;
  max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 10));
  max-width:         calc(800px - (#{$horizontal-spacing-unit} * 10));
  margin: auto;
  text-align: center;
  font-family: $heading-font-family;
  display: block;
  a { text-decoration: none; }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: .5em;
    margin-bottom: .25em;
  }
}

.topnav {
  overflow: hidden;
  max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 10));
  max-width:         calc(800px - (#{$horizontal-spacing-unit} * 10));
  margin: auto;
  text-align: center;
  font-family: $heading-font-family;
  /* Add a color to the active/current link */
  .active { font-weight: bold; }
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  text-align: center;
  padding: 4px 6px;
  font-size: 18px;
  text-decoration: none;
  text-transform: lowercase;
}

/* Change the color of links on hover */
.topnav a:hover { font-weight: normal; }