.top {
  max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 12));
  max-width:         calc(800px - (#{$horizontal-spacing-unit} * 12));
  margin: auto;
  margin-top: -$vertical-spacing-unit;
  margin-bottom: $vertical-spacing-unit*2;
  text-align: center;
  font-family: $heading-font-family; 
  border-radius: $vertical-spacing-unit/4;
}

.logo {
  padding: 0;
  margin: 0;
  display: block;
  a { text-decoration: none; }
  font-size: 1.75em;
}

.topnav {
  /* Add a color to the active/current link */
  .active { font-weight: bold; }
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  text-align: center;
  padding: 4px 6px;
  font-size: 18px;
  text-decoration: none;
  text-transform: lowercase;
}

/* Change the color of links on hover */
.topnav a:hover { font-weight: normal; }