::selection { background: $accent-color; }

::-moz-selection { background: $accent-color; }

body {
	color: $dark-color;
	background-color: $light-color;
}

a { color: lighten($accent-color, 5%); }

a:hover { color: $dark-color; }

.creative-commons { color: $dark-color; }

.logo {
    a { color: $dark-color; }
    border-bottom: $vertical-spacing-unit/4 solid $dark-color;
}

.topnav {
    a { color: $dark-color; }
    a:hover {
		background-color: $accent-color;
		color: $light-color;
    }
}

.post-list {
    border-top: $vertical-spacing-unit/4 solid $dark-color;
    border-bottom: $vertical-spacing-unit/4 solid $dark-color;
}

.post-meta { color: $dark-color; }


@media only screen and (prefers-color-scheme: dark) {
	::selection { background: $accent-color; }

	::-moz-selection { background: $accent-color; }

	body {
		color: $white;
		background-color: lighten($dark-color, 5%);
	}

	a { color: lighten($accent-color, 20%); }

	a:hover { color: $white }

	.creative-commons { color: lighten($accent-color, 20%); }

	.logo {
	    a { color: lighten($accent-color, 20%); }
	    border-bottom: $vertical-spacing-unit/4 solid $white;
	}

	.topnav {
	    a { color: $white; }
	    a:hover {
			background-color: lighten($accent-color, 10%);
			color: $white;
	    }
	}

	.post-list {
	    border-top: $vertical-spacing-unit/4 solid $white;
	    border-bottom: $vertical-spacing-unit/4 solid $white;
	}

	.post-meta { color: $white; }
}