::selection { background: $dark-color; color: $light-color}

::-moz-selection { background: $dark-color; color: $light-color}

body {
	color: $dark-color;
	background-color: $light-color;
}

a { color: lighten($accent-color, 5%); }

a:hover { color: $dark-color; }

.creative-commons { color: $dark-color; }

.logo {
    a { color: $light-color; }
}

.topnav {
    a { color: $light-color; }
    a:hover {
		background-color: $light-color;
		color: $dark-color;
    }
}

.top {
	border-top: $vertical-spacing-unit/4 solid $dark-color;
    border-bottom: $vertical-spacing-unit/4 solid $dark-color;
    border-left: $vertical-spacing-unit/4 solid $dark-color;
    border-right: $vertical-spacing-unit/4 solid $dark-color;
    background-color: $dark-color;
    color: $light-color;
}

.separator {
    border-color: $dark-color;
    color: $dark-color;
    border: solid 0px $dark-color;
    background-color: $dark-color;
}

.post-meta { color: $dark-color; }




@media only screen and (prefers-color-scheme: dark) {
	::selection { background: $light-color; color: $dark-color}

	::-moz-selection { background: $light-color; color: $dark-color}

	body {
		color: $light-color;
		background-color: $dark-color;
	}

	a { color: darken($light-color, 10%); }

	a:hover { color: $light-color;}

	.creative-commons { color: $light-color; }

	.logo {
	    a { color: $dark-color; }
	}

	.top {
		border-top: $vertical-spacing-unit/4 solid $light-color;
	    border-bottom: $vertical-spacing-unit/4 solid $light-color;
	    border-left: $vertical-spacing-unit/4 solid $light-color;
	    border-right: $vertical-spacing-unit/4 solid $light-color;
	    background-color: $light-color;
	    color: $dark-color;
	}
	.separator {
	    border-color: $light-color;
	    color: $light-color;
	    border: solid 0px $light-color;
	    background-color: $light-color;
	}

	.post-meta { color: $light-color; }

}