$dark-color: #222;
$secondary-color: #4AF626;
$accent-color: #174E0C;
$light-color: #d8eae2;
$white: #eff2f2;

$font-family: 'Source Sans Pro', sans-serif;
$line-height: 1.25 !default;
$heading-font-family: 'Source Code Pro', monospace;
$heading-font-weight: 700 !default;
$heading-line-height: 1.25 !default;

$horizontal-spacing-unit: 50px;
$vertical-spacing-unit: 25px;
$phone-horizontal-spacing-unit: 12.5px;