$dark-color: #222;
$secondary-color: #4AF626;
$accent-color: #1d620f;
$light-color: #e0e6e6;
$white: #eff2f2;

$font-family: 'Inconsolata', monospace;
$line-height: 1.5 !default;
$heading-font-family: 'Inconsolata', monospace;
$heading-font-weight: 700 !default;
$heading-line-height: 1.25 !default;

$horizontal-spacing-unit: 50px;
$vertical-spacing-unit: 25px;
$phone-horizontal-spacing-unit: 12.5px;