$text-color: #000;
$secondary-color: #4AF626;
$secondary-color: #1d620f;
$background-color: #e0e6e6;

$font-family: 'Inconsolata', monospace;
$line-height: 1.5 !default;
$heading-font-family: 'Inconsolata', monospace;
$heading-font-weight: 700 !default;
$heading-line-height: 1.25 !default;

$horizontal-spacing-unit: 50px;
$vertical-spacing-unit: 20px;
$phone-horizontal-spacing-unit: 10px;